/* -------- global -------- */

* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

body {
    background: #CCC;
}

/* -------- header -------- */

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 96px;

    height: 64px;
    overflow: hidden;

    background: #58F;
    background: rgba(85, 136, 255, 0.6);
    color: #DDF;
    text-shadow: 1px 1px 1px #36F;
}

#header a {
    display: block;
    white-space: nowrap;

    color: #DDF;
    text-decoration: none;
    cursor: pointer;
}

.title {
    margin: 16px 8px;

    height: 32px;
    overflow: hidden;

    line-height: 100%;
    font-size: 32px;
}

.button {
    float: right;
    margin: 19px 8px;

    border-top: solid 1px #47F;
    border-top: solid 1px rgba(0, 0, 255, 0.1);
    border-bottom: solid 1px #69F;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    max-height: 32px;
    width: 72px;

    text-align: center;
    line-height: 150%;
    font-size: 16px;
}

.button_long {
    float: right;
    margin: 19px 8px;

    border-top: solid 1px #47F;
    border-top: solid 1px rgba(0, 0, 255, 0.1);
    border-bottom: solid 1px #69F;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    max-height: 32px;
    width: 144px;

    text-align: center;
    line-height: 150%;
    font-size: 16px;
}

.input {
    float: right;
    margin: 20px 4px;

    border: solid 2px #47F;
    border: solid 2px rgba(68, 119, 255, 0.4);
    height: 20px;
    width: 128px;

    background: #DDF;
    background: rgba(221, 221, 255, 0.6);
    line-height: 100%;
}

/* -------- content -------- */

#content {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 96px;

    display: none;
    overflow-y: scroll;
    overflow-x: hidden;

    font-size: 20px;
}

#intro {
    width: 100%;
}

#main {
    width: 100%;

    color: #444;
}

#main a {
    display: block;

    color: #444;
    text-decoration: none;
    cursor: pointer;
}

#footer {
    margin: 8px 0;
    padding: 8px 0;

    border-top: solid 1px #EEE;
    width: 100%;

    opacity: 0.8;
    color: #EEE;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
}

.view {
    margin: 8px;

    width: 100%;
}

.frame_body {
    padding: 8px;

    background: #EEE;
    background: rgba(255, 255, 255, 0.4);
    text-shadow: 1px 1px 2px #888;
}

.button_body {
    width: 256px;

    background: #EEE;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    line-height: 200%;
    text-shadow: 1px 1px 2px #888;
}

.error {
    opacity: 0.8;
    color: #C10;
}

.center {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

/* -------- view -------- */

.isotope {
    height: 200px;
    width: 200px;
}

.isotope_big {
    height: 400px;
    width: 400px;
}

.isotope_inner {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;

    overflow: hidden;

    text-align: center;
}

.isotope_title {
    line-height: 150%;
    font-size: 32px;
}

.isotope_text {
    line-height: 150%;
}

.submit_name {
    margin: 4px;

    width: 192px;

    text-align: right;
    line-height: 200%;
}

.submit_input {
    margin: 4px;

    border: none;
    width: 384px;

    background: #FFF;
    background: rgba(255, 255, 255, 0.6);
    line-height: 150%;
    font-size: 16px;
}

.submit_hint {
    margin: 4px;

    width: 192px;

    text-align: left;
    line-height: 150%;
}
